.product-cart-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.product-cart{
    padding:1rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.product-cart-body{
    flex-basis: 50%;
}

.product-cart-total{
    flex-basis: 20%;
}

.product-cart-buttons{
    display: flex;
    flex-basis: 30%;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.product-cart-body-info{
    display:flex;
    gap:1rem;
}

.product-cart-buttons-operators{
    display: flex;
    align-items: center;
    gap:1rem;
}

.product-cart-buttons-operators>span{
    border:1px solid lightgrey;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.cart-total{
    padding:1rem;
}

.cart-total-all{
    font-size: 1.2rem;
}

.cart-btn{
    width: 50%;
    align-self: center;
    border: none;
    border-radius: 0.25rem;
    margin: 1rem 0;
    background-color: #030301;
    color: white;
    padding: 1rem;
}