.form-card-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-field{
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
}

input{
    border:none;
    border-bottom: 1px solid black;
    outline: none;
}
.button{
    background-color: #FD611A;
    color: black;
    border: none;
    margin-top: 10px;
}