<nav class="navbar">
    <div class="navbar-logo">
     <img src="https://compragamer.net/assets/img/logo-fix.png" alt="Imagen logo">
    </div>
    <div class="navbar-title">
        <h2 style="font-family: Roboto;">
            Tienda de articulos de Computacion
        </h2>
    </div>
    <div class="icon-container">
        <div class="navbar-cart">
            <div class="navbar-cart-items">
                <p>{{cantProd}}</p>
            </div>
            <i class="cart-icon fa-solid fa-cart-shopping fa-xl cursor" (click)="onToogleCart()"></i>
        </div>
        <div class="register-icon">
            <i class="fa-solid fa-right-to-bracket fa-xl cursor" routerLink="/registro"></i>
        </div>
    </div>
</nav>
<div class="cart" [ngClass]="{show:viewCart}">
    <app-cart></app-cart>
</div>