.navbar{
    padding:1rem;
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-image: linear-gradient(to right, rgb(253, 97, 26) 0%,rgb(251, 197, 172) 100%);  
    margin:30px 30px;
    height: 100px;
    margin-bottom: 15px; 
}

.navbar>.navbar-cart{
    position: relative;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.navbar-cart-items{
    position: relative;
    left: 8.5px;
    top:-0.8rem;
    color:white;
    border:1px solid rgb(255, 255, 255,0.1);
    border-radius: 50%;
    background-color: rgb(253, 97, 26);
    height: 20px;
    width: 20px;
   
}
p{
    font-size: 0.8rem;
    text-align: center;
}
.cart{
    display: none;
}
.cart-icon{
    display: flex;
}
.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    position: absolute;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid #cc1414;
    right: 0px;
    top: 83px;
    min-width: 40%;
}
app-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
     
}
.register-icon{
    margin-left: 20px;
    
}
.icon-container{
    display: flex;
    align-items: center;
    justify-content:space-around ;
}